# Dependencies
node_modules/

# Build output
.dist/
dist/
.out/

# Environment files
.env
.env.*
.wrangler/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tooling caches
.cache/
tmp/
